<html>
<head>
	<meta http-equiv = "content-type" content = "text/html; charset=utf-8" ?>
	<title>Savings Pools prototype</title>
	<link href = "{{ STATIC_URL }}css/webstyle.css" rel = "stylesheet">
</head>
<body>
	<h1>Living Economies Savings Pools Website Prototype</h1>
	<div id = "main">
		<h2>Your Account History</h2>
		<br>
		<p>This area will contain the users' account graph, where he/she will be able to scroll through their history.</p>
	</div>
	<a href = "newloan.php">Create new loan application</a>
</body>
</html>